.panelBody {
    width: 30%;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
}

.tasksContainer {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2%;
    row-gap: 10px;

    .newTaskButton {
        width: 120px;
        height: 50px;
        margin: 0;
        justify-self: center;
    }
}
