.modalBody {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.formContainer {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 90%;
    height: fit-content;
    max-width: 400px;
    width: fit-content;
    background-color: var(--primaryColor);

    .closeButton {
        position: absolute;
        right: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    font-family: "Wonder-Unit-Sans-Regular";

    .inputContainer {
        padding: 15px;

        label {
            display: block;
            padding: {
                top: 10px;
                bottom: 10px;
            }
        }

        input[id="title"] {
            width: 100%;
            font-size: xx-large;
            text-align: center;
        }

        textarea {
            width: 100% !important;
            min-height: 60px;
            max-height: 150px;
            background-color: transparent;
        }

        .radioWrapper {
            label {
                display: inline-block;
                padding: {
                    top: 2px;
                    bottom: 2px;
                }
            }
        }
    }

    .submitWrapper {
        display: flex;
        align-items: center;

        .success {
            color: var(--successColor);
        }

        .error {
            color: var(--errorColor);
        }
    }
}
