$bgColor-dark: #000;
$primaryColor-dark: #1e1e04;
$secondaryColor-dark: #292929;
$textColor-dark: #fff9ce;
$accentColor-dark: #ffe100;

$primaryColor-light: #ffffff;
$secondaryColor-light: #cfcfcf;
$bgColor-light: #ffffff;
$textColor-light: #2d2904;
$accentColor-light: #2d2904;
