$bgColor-dark: #000;
$primaryColor-dark: #1e1e04;
$secondaryColor-dark: #292929;
$textColor-dark: #fff9ce;
$accentColor-dark: #ffe100;
$errorColor-dark: #ff4e00;
$successColor-dark: #00ff00;

$bgColor-light: #ffffff;
$primaryColor-light: #fcffbf;
$secondaryColor-light: #fff158;
$textColor-light: #000000;
$accentColor-light: #362500;
$errorColor-light: #e10000;
$successColor-light: #008200;
