$mainColor-dark: #2d2904;
$secondaryColor-dark: #030303;
$bgColor-dark: #2d2904;
$textColor-dark: #ffffff;
$contrastColor-dark: #ffffff;

$mainColor-light: #ffffff;
$secondaryColor-light: #cfcfcf;
$bgColor-light: #ffffff;
$textColor-light: #2d2904;
$contrastColor-light: #2d2904;
