@use "./placeholders";
@use "./colors";
@use "./fonts";
@import "./transition";

* {
    box-sizing: border-box;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    @extend %custom-scroll-bar;
}

#root {
    //Set dark variables
    --bgColor-dark: #{colors.$bgColor-dark};
    --primaryColor-dark: #{colors.$primaryColor-dark};
    --textColor-dark: #{colors.$textColor-dark};
    --accentColor-dark: #{colors.$accentColor-dark};

    //Set light variables
    --bgColor-light: #{colors.$bgColor-light};
    --primaryColor-light: #{colors.$primaryColor-light};
    --textColor-light: #{colors.$textColor-light};
    --accentColor-light: #{colors.$accentColor-light};
    @media (prefers-color-scheme: dark) {
        --bgColor: var(--bgColor-dark);
        --primaryColor: var(--primaryColor-dark);
        --textColor: var(--textColor-dark);
        --accentColor: var(--accentColor-dark);
    }

    @media (prefers-color-scheme: light) {
        --bgColor: var(--bgColor-light);
        --primaryColor: var(--primaryColor-light);
        --textColor: var(--textColor-light);
        --accentColor: var(--accentColor-light);
    }

    --footerHeight: 50px;

    display: flex;
    justify-content: center;
    background-color: var(--bgColor);
}

p,
h1,
h2,
h3,
label,
textarea {
    color: var(--textColor);
}

p {
    font-family: "Wonder-Unit-Sans-Regular";
    margin: 0;

    @media (max-width: 700px) {
        font-size: 16px;
    }
}

button {
    @extend %normal-button;
}

input[type="text"],
input[type="mail"],
input[type="password"] {
    @extend %normal-input;
}

.checkbox-label {
    @extend %normal-checkbox;
}
