.dashboardBody {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 45px;
}

.form {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 40px;
}
